.form {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 80px auto 120px;
  max-width: 385px;
}

.form__fieldset {
  padding: 0;
}

.form__label {
  margin: 0 auto 8px;
}

.form__input {
  border-radius: 4px;
  line-height: 30px;
  font-weight: normal;
  color: #838383;
  height: 60px;
  margin: 0 0 32px;
  width: 385px;
}

.form__input_btn {
  border-radius: 4px;
  background-color: #2f80ed;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.form__input_btn:hover {
 background-color: #3f96f3;

}

.form__checkbox {
  border-radius: 2px;
  background: #2f80ed url("../images/check.svg");
  width: 20px;
  height: 20px;
  margin: 0 12px 0 0;
}
