.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  padding: 30px 80px 40px;
  background-color: #ffffff;
  background-image: ("./images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 720px;
  max-height: 800;
  display: flex;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
}

.nav__links {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
  list-style-type: none;
}

.nav__link {
  text-decoration: none;
  color: #000;
}

.header__title {
  font-family: "noto serif", "Times New Roman", Times, serif;
  font-weight: 500;
}
.header__title__span_blue {
  color: #2f80ed;
  display: block;
}

.header__title__span_inter {
  font-family: "inter" Arial, Helvetica, sans-serif;
  display: block;
}

.header__title__description {
  font-size: large;
}

header__image {
  position: absolute;
}

.header__footer {
  margin-bottom: 0;
  display: flex;
  align-items: flex-end;
  margin-right: 80px;
  height: 48px;
  margin-top: auto;
}

.header__footer__hours {
  color: #6f6f6f;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0;
}

.header__footer__address {
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 32px;
  margin-left: auto;
}

.content {
  color: ;
}

.recipes__title {
}

.recipes__subtitle {
}
.videos {
}

.video {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
