.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "inter", "Arial", "Helvetica", sans-serif;
}

.header {
}

.nav {
}

.nav__logo {
}

.nav__links {
}

.nav__link {
}
.nav__link:hover {
}

.header__title {
}

.header__title_blue {
  font-family: "noto serif", "Times New Roman", "Times", serif;
  color: aqua;
}

.header__description {
}

.header__image {
}

.header__footer {
}

.header__footer__heading {
}

.header__footer__hours {
}

.header__footer__days {
}

.header__footer__times {
}

.header__address {
}

.content {
}

.recipes {
}

.recipe__title {
}

.recipe__description {
}

.videos {
}

.video {
}

.vid__content {
}

.vid__footer {
}

.vid__title {
}

.vid__time {
}

.reservations {
}

.reservation-form__heading {
}

.menu {
}

.menu__heading {
}

.menu__description {
}

.menu__content {
}

.menu__category_filter {
}

.menu__category_espresso {
}

.menu__category_baked-goods {
}

.menu__category__heading {
}

.menu__items {
}

.menu__item {
}

.about {
}

.about__image {
}

.about__content {
}

.about__title {
}

.about__paragraph {
}
