s.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}


.header {
  min-height: 720;
  max-height: 800;
  /*display: flex;*/
  padding: 30px 80px 40px;
  background-color: #ffffff;
  background-image: ("./images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-between;

}

.nav__logo {
  position: relative;
  left: -50px;
  height: 39px;
  width: 105px;
}

.nav__links {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
  list-style-type: none;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.nav__link {
  text-decoration: none;
  color: #000;
}


.header__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin: 183px 0 0;
  max-width: 729px;
  font-family:'inter', Arial, Helvetica, sans-serif;
  z-index: 2;
}

.header__description {
  max-width: 683px;
  margin: 28px 0 0;
  font-family: 'inter', Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 30px;
  z-index: 2;
}

.header__span_accent {
  max-width: 729px;
  display: block;
  color: #2f80ed;
  font-size: 60px;
  line-height: 72px;
  font-style: italic;
  font-weight: normal;
  font-family: 'Noto Serif', 'Times New Roman', Times, serif;
}
.header__image {
 position: absolute;
 top: 135px;
  right: 20px;
  width: 646px;
  height: 568px;
  z-index: 1;
}

.header__image img {
  width: 100%;
height: auto;
z-index: 1;
}
.header__footer {
  margin-top: 340px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  z-index: 2;
}

.header__hours {
  display: flex;
  flex-direction: column;
}

.header__paragraph {
  margin: 0;
}

.header__address {
  margin-right: 80px;
  margin-top: 40px;
}


.content {
  color: #000000 ;
}

.recipes {
  color: #ffffff;
  background-color #0A2750;
  padding: 100pz 80pz 215px;

}

.recipes__title {
  margin-top: 0 0 24px;
  font-weight: 500;
  color:
}

.recipes__subtitle {
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 80px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 100px;


  /*position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;*/

}

.recipe__video {
  gap: 40px;
  min-width: 300px; /* Adjust this value based on your needs */
  margin: 10px;

 /* position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;*/
}

.recipes__video-caption {
  display: flex;
}

.recipe__video__iframe{

}

.recipes__video-caption_title{

}
.recipes__video-caption_time{}


body